[submodule "external/SDL3"]
	path = external/SDL3
	url = https://github.com/libsdl-org/SDL.git
[submodule "external/wgpu-native"]
	path = external/wgpu-native
	url = https://github.com/lucascompython/wgpu-native
[submodule "external/sdl3webgpu"]
	path = external/sdl3webgpu
	url = https://github.com/eliemichel/sdl3webgpu
[submodule "external/dear_bindings"]
	path = external/dear_bindings
	url = https://github.com/dearimgui/dear_bindings
[submodule "external/imgui"]
	path = external/imgui
	url = https://github.com/ocornut/imgui
[submodule "external/dawn"]
	path = external/dawn
	url = https://dawn.googlesource.com/dawn
